/* Nota: Inicia o header no canto superior esquerdo da tela*/
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Montserrat, sans-serif;
  
}

.HeaderHome {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-content: space-between;
  background-color: #4fa340;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.HeaderTitle {
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.UserButton {
  background-color: black;
  border-radius: 80%;
  font-size: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 8vh;
}

.UserButton:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #333;
  background-color: #ffffff;
  color:black



}

.ResumoMes {
 
  display: flex; 
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.BotaoQR {
  background-color: #71c55b;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.BotaoQR:hover {
  background-color: #5aa947;
  cursor: pointer;
}

.ContainerTitulo {
  font-weight: 600;
  
}
 

.ContainerNotas {
  display: flex; 
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}

.NotasList{
  display: flex;
  flex-direction: column;
  gap: 20px;
}