.CardNota {
  height: 120px;
  background-color: #007b00;
  width: 25vw;
  border-radius: 15px;
  height: auto;
  
}
.CardNota:hover {
  cursor: pointer;
}

.NotaTopo {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
}

.NotaRodape {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  
}

#datahora {
  font-style: italic;
  font-weight: 100;
}